html {
  align-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.int-simple-14 {
  background-color: #f5f5f5;
  margin: 0;
  padding: 60px;
  width: 359px;
  height: 293px;
}

.first-header {
  font-family: "Roboto", sans-serif;
  color: #7c7c7c;
}

.big-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Noto Serif", serif;
}

.purple-text {
  color: #943475;
}

.rem-text {
  color: #0d0d0d;
}

.small-text {
  font-family: "Lato", sans-serif;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 20px;
}

button {
  background-color: #ff7731;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  height: 60px;
  width: 250px;
}

.button-pic {
  padding-top: 7px;
  padding-right: 20px;
  height: 20px;
  width: 25px;
}
